/*****************
  MOBILE STYLES
*****************/
@media (max-width:850px) {
  .sidebar {display:none;}
  .main-content-container {display: block;width: 100%;margin:0 auto;}
  .copyright {height: 18vw;font-size: 3.5vw;padding-top: 5vw;}
  .copyright span {float:left;margin-top:3vw;}
  .copyright img {width:16vw;}
  nav.desktop-nav{display:none}
  nav.mobile-header{display:block}
  header.header-post{display:block}
  p, a, li {font-size: 5vw;}
  h1 {font-size: 6vw;}
  h2 {font-size: 5.5vw;}
  h3, h4 {font-size: 4.8vw;}
 
  /*****************
  HOMEPAGE
*****************/
.section-one {
  background-image: url('assets/images/section-one-bg-m.jpg');
  background-size: 102%;
  height: 134vw;
  padding: 7vw 5.6vw 2vw;
  margin-top: 0vw;
  position: relative;
  z-index: 1;
}
.section-one h1 {
  font-size: 5vw;
  width: 58vw;
}

.section-one h2 {
  font-size: 16.9vw;
  margin: -4vw 0 1vw;
}

.section-one .koi-image {
  right: -11vw;
  top: -5vw;
}
.button {
  font-size: 5vw;
  padding: 1.7vw 4.8vw;
}

.red svg {
  left: 1.4vw;
  bottom: .5vw
}

.clear svg,
.button svg {
  height: 3vw;
  width: 3vw;
}

.section-one .text-aside p {
  font-size: 5vw;
}

.section-one .text-aside {
  width: 66vw;
  margin-left: -1vw;
}

.section-one .form-container {
  margin-top: 12vw
}

.section-one .text-aside .button.red svg {
  bottom: .3vw;
}

.section-one .text-aside .button.red {
  top: 5vw;
  padding: 1vw 3vw;
  right: -15vw;
}
.section-one .form-container {
  width: 84vw;
  height: auto;
  margin-top: 12vw;
}

.section-one .form-container .top .green {
  font-size: 6vw;
}

.section-one .form-container .top p {
  font-size: 5vw;
}
.jotform-container iframe {
  height: 133vw !important;
}

.section-two .bg-1 {
  top: -4vw;
  width: 70vw;
  left: 15vw;
}

.section-one .form-container {
  width: 90vw;
}

.section-two .column {
  display: block;
}

.section-two .column svg {
  height: 7.5vw;
  width: 7.5vw;
  top: 18vw;
}

.section-two .column .text-box .box-title {
  font-size: 5.3vw;
}

.section-two .column .text-box {
  width: 72vw;
  padding-bottom: 8vw
}

.section-two .column .text-box p {
  font-size: 4vw;
}

.section-two .column .text-box svg {
  height: 6vw;
  width: 6vw;
  position: absolute;
  right: 0;
  top: bottom;
  top: 33vw
}

.section-two .column.two {
  padding-left: 0vw;
}

.section-two .column a.text-box {
  position: relative;
}

.section-two {
  padding: 10.5vw 5vw 5vw;
  overflow: hidden;
}
.section-three {
  padding: 3vw 4vw 16vw;
  height: auto
}

.section-three .left-column {
  width: 80vw;
  padding: 0;
  display: block
}

h1,
.subtitle {
  font-size: 6vw
}

h2,
.title {
  font-size: 7.5vw
}

.section-three .left-column h2 {
  width: 70vw
}

.section-three .right-column img {
  width: 79vw
}

.section-three .right-column {
  display: block;
  width: auto;
  margin-top: 15vw
}

.section-three .right-column .bottom .title.green {
  margin: 0px;
  text-align: left;
  font-size: 7.8vw
}

.section-three .right-column .bottom {
  margin-left: -1vw
}

.section-three .right-column .bottom p {
  width: auto;
  text-align: left;
  font-size: 5vw;
  margin-top: 1.5vw
}

.section-three .right-column .bottom img {
  display: none
}

.section-three .right-column .button.red {
  left: 0vw
}

.section-four h2 {
  padding: 0 6vw
}

.section-four {
  margin-top: 15.4vw
}

.section-four .koi-image {
  top: -24vw
}

.section-four .bg-1 {
  display: none
}

.section-four .boxes {
  flex-direction: column;
  align-items: center
}

.section-four .boxes .box {
  width: 83vw;
  height: 95vw;
  margin-bottom: 9vw
}

.section-four .boxes .box .title {
  font-size: 6vw;
  padding-left: 5vw
}

.section-four .boxes .box .text-box {
  width: 79vw;
  line-height: 1.5;
  right: -1vw;
  padding: 0
}

.section-four .boxes .box picture {
  height: 100%;
  width: 100%
}

.section-four .boxes .box .title::after {
  width: 93%
}

.section-five {
  padding: 5vw 5vw 20vw;
  height: auto
}

.section-five .left-column {
  width: auto;
  display: block
}

.section-five .video-container {
  display: block;
  position: relative;
  top: 11vw;
  left: 0vw;
  width: auto
}

.section-five .video-container img {
  width: 23.6vw
}

.section-six {
  height: auto
}

.section-six .boxes {
  flex-direction: column
}

.section-six .boxes .box .title {
  font-size: 5.5vw
}

.section-six .boxes .box img {
  width: 61vw
}

.section-six .boxes .box {
  padding-bottom: 5vw;
}

.section-six .subtitle {
  font-size: 5.3vw
}

.section-six .boxes .box .info-box .fish-description {
  width: 32vw;
  height: 24.5vw;
  top: 2vw;
  left: -5vw
}

.section-six .boxes .box .info-box .fish-description p {
  font-size: 6.8vw
}

.section-six .boxes .box .info-box .fish-description p:last-of-type {
  font-size: 3.9vw
}

.section-six .boxes .box .info-box .price {
  width: auto;
  left: 1vw
}

.section-six .boxes .box .info-box .price p:last-of-type {
  font-size: 5.3vw
}

.section-six .boxes .box .info-box .red {
  left: 20vw;
  top: 4vw
}

.section-six .bg-1 {
  display: none
}

.section-six>div:nth-child(4)>div:nth-child(1) {
  padding-bottom: 13vw
}

.divider {
  height: 12vw;
  padding: 12vw 0 12vw
}

.divider a.button.aqua::before,
.divider a.button.aqua::after {
  width: 17vw;
  margin-top: 3vw
}
.section-seven {
  padding: 8vw 10vw;
  height: auto;
  flex-direction: column
}

.section-seven .title {
  font-size: 7.7vw
}

.section-seven p {
  font-size: 4.5vw
}
.section-eight {
  padding: 10vw 10vw 0;
  height: auto
}

.section-eight .boxes .box {
  padding-bottom: 14vw;
}

.section-eight .boxes {
  flex-direction: column
}

.section-eight .boxes .box .title {
  font-size: 5.5vw
}

.section-eight .boxes .box img {
  width: 61vw
}

.section-eight .subtitle {
  font-size: 5.3vw
}

.section-eight .boxes .box .info-box .fish-description {
  width: 32vw;
  height: 24.5vw;
  top: 4vw;
  left: -2vw
}

.section-eight .boxes .box .info-box .fish-description p {
  font-size: 6.8vw
}

.section-eight .boxes .box .info-box .fish-description p:last-of-type {
  font-size: 3.9vw
}

.section-eight .boxes .box .info-box .price {
  width: 27vw;
  left: 3vw
}

.section-eight .boxes .box .info-box .price p:last-of-type {
  font-size: 5.3vw
}

.section-eight .boxes .box .info-box .red {
  left: 16vw;
  top: 2vw
}
.section-eight .bg-1 {
  right: -17vw;
  height: 56vw;
  z-index: -1;
}

.section-nine .bg-1 {
  left: -21vw;
  height: 59vw;
  top: 1vw;
  z-index: -1
}

.section-nine {
  padding: 6vw 12vw 24vw
}

.section-nine .subtitle {
  padding: 0 1vw
}

.section-nine .boxes .button.clear {
  font-size: 4.8vw;
  padding: 5.6vw 2vw;
  margin: 1vw 1.2vw;
  width: 31vw
}

.section-nine .boxes {
  padding: 1vw 0 9vw;
  flex-wrap: wrap
}

.section-ten {
  background-size: 187%;
  height: 65vw;
  background-position-x: -41vw
}

.section-ten .right-column {
  width: auto;
  height: 65vw;
  padding: 0vw 5vw 0vw 5vw
}

.section-ten .right-column .subtitle {
  font-size: 5.3vw
}

.section-ten .bg-1 {
  display: none
}

.section-eleven .right img {
  top: -9vw;
  right: -3vw
}
.section-eleven {
  padding: 24.5vw 5vw 20vw;
  height: auto;
}

.section-eleven .left {
  display: block;
  width: auto
}

.section-eleven .left img.large {
  width: 100vw;
  margin-left: -5vw;
}

.section-eleven .left .image-group img {
  width: 27vw
}

.section-eleven .left .image-group {
  padding-left: 1vw;
  margin-top: -7vw
}

.section-eleven .right {
  display: block;
  width: auto
}
.section-twelve {
  height: auto;
  padding: 10vw 2vw 25vw;
}

.section-twelve .col1 {
  display: block;
  width: auto
}

.section-twelve .col2 {
  display: block;
  width: auto
}

.section-twelve .col3 {
  display: block;
  width: auto
}

.section-twelve img {
  height: 36vw;
  top: -3vw;
  left: -17vw
}

.section-thirteen .left {
  display: block;
  width: 80vw;
  padding: 11vw 4vw 3vw 16vw
}

.section-thirteen .right {
  display: block;
  width: auto;
}

.section-thirteen {
  background-size: cover;
  background-position-x: -495vw;
  background-repeat: no-repeat;
  padding: 0vw 0 13vw
}

.section-thirteen .right h2 {
  font-size: 7vw
}


footer .newsletter-section {
  padding: 5vw 3vw;
  height: 42vw;
  flex-direction: column
}

footer .newsletter-section .left .green {
  font-size: 6.7vw;
  position: relative;
  z-index: 2
}

footer .newsletter-section .left p {
  font-size: 5vw;
  z-index: 1;
}

footer .newsletter-section .button {
  bottom: 3vw
}

footer .newsletter-section .bg-2 {
  height: 16vw;
  top: 0
}

footer .newsletter-section .bg-1 {
  height: 17.3vw;
  bottom: 0
}
footer .map iframe {
  height: 100vw
}

footer .col1 {
  display: block;
  width: auto
}

footer .col2 {
  width: 42vw;
  position: relative;
}

footer .col2 a,
footer .col3 a {
  padding: 2.5vw 0;
}

footer .col3 {
  width: 36vw;
  position: relative;
}

footer .top .title {
  font-size: 5.8vw
}

footer .col1>a:nth-child(4)>svg:nth-child(1) {
  height: 2.8vw
}

footer .social-links svg {
  height: 5.5vw;
  padding-right: 5.6vw
}

footer .col4 {
  display: block;
  width: auto;
  padding-top: 6vw
}
footer .col4 img {
  height: 22vw;
  width: 22vw;
  margin-top: 3vw
}

footer .col4 a {
  width: 53vw;
  padding-left: 3vw;
  position: relative;
  top: -4vw
}

footer .copyright {
  padding: 4vw 3vw;
  font-size: 3.8vw
}

footer .copyright a {
  padding: 1.5vw 1.2vw;
  font-size: 3.8vw
}

footer .copyright span {
  float: left;
  margin-right: 0vw
}

footer .top .bg-2 {
  bottom: 11vw;
  right: 0;
  display: none
}

footer .top .bg-1 {
  bottom: 68vw
}

footer .top .bg-1 {
  left: -1vw;
  height: 82vw
}

.social-links {
  padding: 5vw 0
}

.copyright {
  height: 11vw
}

                        /****** INTERNAL PAGES *******/

.titlebar {
  background-size: 156%;
  height: 29.5vw;
  background-position-x: -11vw;
  margin-top:0;
}

.titlebar .titlebar-header {
  font-size: 7vw;
  margin-bottom: 12vw;
  text-align: center;
}

.faq-section-one .faq-box .box-title {
  font-size: 5vw;
  line-height: 1.2;
}

.faq-section-one .faq-box p {
  font-size: 4.5vw;
}

.koi-sale-section-one .column {
  display: block;
  padding-left: 1vw
}

.koi-sale-section-one .column.two {
  padding-left: 0vw
}

.koi-sale-section-one .column.three {
  padding-left: 0vw
}

.koi-sale-section-one .column svg {
  height: 6.5vw;
  width: 6.5vw;
  top: 15vw;
  left: -3vw
}

.koi-sale-section-one .column .text-box .box-title {
  font-size: 4.3vw
}

.koi-sale-section-one .column .text-box p {
  font-size: 4vw
}

.koi-sale-section-one .column .text-box {
  width: 68vw;
  padding-left: 6vw
}

.koi-sale-section-one {
  padding: 3.5vw 8vw 4vw
}

.koi-sale-section-one .column .text-box svg {
  height: 3vw;
  width: 3vw;
  top: -7vw;
  left: -9vw
}

.koi-sale-section-two {
  height: auto;
  padding: 1vw 2vw 8vw;
}

.koi-sale-section-two .left-column {
  width: auto;
  display: block
}

.koi-sale-section-two .left-column h2 {
  width: auto
}

.koi-sale-section-two .right-column img {
  width: 83vw
}

.koi-sale-section-two .right-column .button.red {
  left: 6vw;
  font-size:3vw;
}

.koi-sale-section-two .right-column {
  display: block;
  width: auto
}
.divider-text p {
  font-size: 4.8vw;
}

.divider-text p::before,
.divider-text p::after {
  width: 37vw;
}
.koi-sale-section-three .subtitle {
  padding: 0px 9vw;
  font-size: 3.8vw;
}

.koi-sale-section-three .divider-text {
  height: 14vw;
}
.koi-sale-section-three .boxes .box img {
  width: 39vw;
  margin: 0 2vw
}

.boxes .box .info-box {
  width: auto;
  padding-bottom: 8vw
}

.koi-sale-section-three .boxes .box .info-box .fish-description {
  width: 19vw;
  height: 17.5vw;
  top: 2vw;
  left: 1vw
}

.koi-sale-section-three .boxes .box .info-box .fish-description p {
  font-size: 4.6vw
}

.koi-sale-section-three .boxes .box .info-box .fish-description p:last-of-type {
  font-size: 2.9vw
}

.koi-sale-section-three .boxes .box .info-box .red {
  width: 66%;
  left: 1vw;
  top: 5vw
}

.koi-sale-section-three .boxes .box {
  padding-bottom: 5vw
}

.koi-sale-section-three .boxes .box .title {
  font-size: 4.5vw
}

.koi-sale-section-three .boxes .box .info-box .price {
  width: 18vw;
  left: 1vw
}

.box .info-box .price {
  font-size: 4.25vw
}

.koi-sale-section-three .boxes .box .info-box .price p:last-of-type {
  font-size: 4.3vw
}

.koi-maintenance-section-one .left {
  display: block;
  width: auto;
  line-height: 1.5
}

.koi-maintenance-section-one .right {
  display: block;
  position: relative
}

.koi-maintenance-section-one .left p.subtitle {
  font-size: 3.5vw
}

.koi-maintenance-section-one .left p.title {
  font-size: 6.5vw
}

.koi-maintenance-section-one .left p.subtitle:nth-child(3) {
  font-size: 5vw
}

.koi-maintenance-section-one .left p {
  font-size: 5vw
}

.koi-maintenance-section-one .right img.video {
  width: 86vw;
  margin-left: -5vw
}

.koi-maintenance-section-one .right img {
  width: 23vw
}

.koi-maintenance-section-two .divider-text p::before,
.koi-maintenance-section-two .divider-text p::after {
  width: 13vw
}

.koi-maintenance-section-two .text-box {
  margin: 12vw 7vw
}

.koi-maintenance-section-two .text-box .title {
  font-size: 4.8vw
}

.koi-maintenance-section-two .text-box .subtitle {
  font-size: 4vw
}

.koi-maintenance-section-two .text-box .left .box-title {
  font-size: 4.9vw
}

.koi-maintenance-section-two .text-box .left {
  width: auto;
  display: block
}

.koi-maintenance-section-two .text-box .right {
  width: auto;
  display: block;
  padding-left: 0vw;
  padding-top: 0vw
}

.koi-maintenance-section-three .title {
  font-size: 4.8vw
}

.koi-maintenance-section-three .subtitle {
  font-size: 4.3vw
}

.koi-maintenance-section-three .left .box-title {
  font-size: 4.9vw
}

.koi-maintenance-section-four .boxes .button.clear {
  font-size: 3.8vw;
  padding: 3.6vw 2vw;
  margin: 1vw 1vw;
  width: 41vw
}

.koi-maintenance-section-four .boxes {
  flex-wrap: wrap;
  justify-content: center
}

.koi-maintenance-section-five .divider-text p {
  font-size: 4.8vw
}

.koi-maintenance-section-five .divider-text p::before,
.koi-maintenance-section-five .divider-text p::after {
  width: 25vw;
  margin-top: 4vw
}
.koi-maintenance-section-five .divider-text {
  height: 14vw;
}
.koi-maintenance-section-one .left p.subtitle:nth-child(3) {
  font-size: 5vw
}

.koi-maintenance-section-five p {
  font-size: 5vw;
  line-height: 1.3
}

.koi-maintenance-section-five {
  padding: 1vw 10vw 14vw
}

.about-section-one .left {
  width: auto;
  display: block
}

.about-section-one .right {
  width: auto;
  display: block;
  position: relative;
  right: 0vw
}

.about-section-one .right img {
  height: 37.5vw
}

.section-free-shipping {
  padding: 5vw 3vw;
  height: auto;
  flex-direction: column
}

.section-free-shipping .left .green {
  font-size: 7.7vw;
  position: relative;
  z-index: 2;
  display: block;
}

.section-free-shipping .left p {
  font-size: 5vw;
  z-index: 1;
}

.section-free-shipping .button {
  bottom: 3vw
}

.section-free-shipping .bg-2 {
  height: 16vw;
  top: 0
}

.section-free-shipping .bg-1 {
  height: 17.3vw;
  bottom: 0
}
.about-section-two .boxes .box .title {
  font-size: 5.9vw
}

.about-section-two .boxes .box {
  width: 80vw;
  height: 190vw
}

.about-section-two .boxes .box picture {
  height: 100%;
}
.about-section-two .boxes .box picture img {
  border-radius: 8px;
}

.about-section-two .boxes {
  flex-direction: column
}

.about-section-two {
  height: auto
}

.about-section-two .boxes .box .text-box {
  width: 80vw
}

.about-section-two .boxes .box:nth-child(2) {
  height: 216vw
}

.about-section-two .boxes .box:nth-child(3) {
  height: 117vw
}
.about-section-two .boxes .box picture img {
  border-radius: 8px;
}

.about-section-two .boxes .box {
  padding: 5vw 3vw;
  margin: 2vw;
  margin-bottom: 5vw;
}

.pond-supplies-section-one .left {
  display: block;
  width: auto;
}

.pond-supplies-section-one .right {
  display: block;
  width: auto;
  padding-left: 0vw;
}

.pond-supplies-section-one .right .button.red {
  font-size: 3.8vw;
}

.pond-supplies-section-one .right .button.red svg {
  bottom: 0;
}
.pond-supplies-section-two .divider-text p::after {
  width: 48vw;
  margin-top: 3vw
}

.pond-supplies-section-two {
  padding-top: 9vw
}

.pond-supplies-section-two .left {
  width: auto;
  display: block;
  padding: 0 6.7vw
}

.pond-supplies-section-two .left .boxes .box {
  width: 43vw;
  margin-bottom: 13vw
}

.pond-supplies-section-two .left img {
  width: 35.5vw
}

.box .info-box .points {
  font-size: 4vw;
  padding-top: 1.9vw
}

.pond-supplies-section-two .right {
  display: block;
  width: auto;
  padding-right: 6vw
}

.pond-supplies-section-two .right p.green.title {
  font-size: 6.8vw;
  padding:
}

.pond-supplies-section-two .right:nth-child(3)>p:nth-child(3) {
  font-size: 4.2vw
}
.pond-supplies-section-three .subtitle {
  font-size: 5.86vw;
  margin-bottom: 0.7vw;
  line-height: 1;
  margin-top: 10vw
}

.pond-supplies-section-three p {
  line-height: 1.6;
  font-size: 4.1vw
}

.pond-supplies-section-three {
  padding: 1vw 5vw 12vw;
  margin: 7vw 3vw 7vw
}
.contact-section-one .left {
  width: auto;
  display: block
}

.contact-section-one .jotform-container iframe {
  height: 234vw !important
}

.contact-section-one .right {
  width: auto;
  display: block;
  padding-left: 0vw
}

.contact-section-one .right .top svg {
  height: 4.1vw;
  position: relative;
  top: -5vw
}

.contact-section-one h2 {
  font-size: 6.1vw
}

.contact-section-one .right .top .contact-links {
  width: 74vw
}

.contact-section-one .right .top svg.envelope {
  height: 2.9vw;
  position: relative;
  top: 0vw
}

.contact-section-one .right .top .hours {
  font-size: 4.2vw
}

.contact-section-one .right .map iframe {
  width: 88vw;
  height: 50vw
}

.koi-shipping-section-one .left {
  display: block;
  width: auto
}

.koi-shipping-section-one .right img {
  width: 77vw
}

.koi-shipping-section-one .right {
  width: auto;
  margin-left: 0vw;
  margin-top: 8vw;
  position: relative
}

.koi-shipping-section-two img {
  width: 44vw;
  margin-top: 0vw;
  display: block;
  margin-left: 23vw
}

.koi-shipping-section-two .right {
  display: block;
  width: auto;
  padding-top: 4vw
}

.koi-shipping-section-two .right .subtitle {
  font-size: 2.8vw
}

.koi-shipping-section-two {
  padding: 0vw 3vw 4vw
}



/****************
MOBILE NAV
****************/
nav.mobile-header{display:block;margin-bottom:0px;position:absolute;width:100%;top:0vw;z-index:9;height:22vw;}
.mobile-nav a.logo-left{border-bottom:0px;margin-top:0;margin-bottom:0;padding-bottom:0;padding-left:0;display: inline-block;}
section#logo img{width:35vw;height:auto;position:relative;bottom:1vw}
.pull-right{padding-top:2vw;display:inline-block;float:right;width:auto;height:7vw;}
.phone{display:inline-block;height:10vw;width:12vw;vertical-align:top}
.mobile-nav .phone a{margin-top:.8vw;padding-top:0;border-bottom:0px;padding-left:0;}
.phone i{font-size:52px;font-size:52px;color:#fff;padding:12px 0 0 53px}
.mobile-nav-btn{display:inline-block;width:11vw;height:11vw}
div.mobile-nav-btn div.nav-dot{height:2vw;width:2vw;border-radius:4px;background-color:#fff;margin:.6vw auto;opacity:1;transition:opacity .3s ease}
div.mobile-nav-btn div.nav-dot:first-child{margin:1vw auto 0}
div.mobile-nav-btn .mobile-dotnav-close{color:#fff;top:.5vw;position:absolute;width:6vw;right:3vw;opacity:0}
div.mobile-nav-btn:hover div.mobile-nav{display:block}
div.mobile-nav{display:block;color:#fff;vertical-align:top;position:absolute;background:#000;padding:0px;right:0;z-index:98;overflow:scroll;height:auto;overflow:scroll;transition:top .3s ease;width:63%;top:-115vw;max-height:80vh;overflow-Y:scroll;}
div.mobile-nav ul{list-style:none;padding:0 30px}
div.mobile-nav ul li{margin:20px auto;font-size:17px}
div.mobile-nav ul li a{border-bottom:1px solid #e6e6e6;width:100%;display:inline-block;padding-bottom:9px}
.mobile-nav a{color:#fff;font-size:4vw;text-decoration:none;display:block;margin:3.5vw 3.5vw;padding:2vw 0 4vw;border-bottom:1px solid #e1e1e1;padding-left:5vw;}
nav.mobile-nav{border-bottom: 2px solid #fff;display:block;height:17vw;width:100%;background-color:transparent;position:relative;z-index:9;}
.mobile-nav-practice-areas-menu{display:none}
div.mobile-nav-screen{display:block;width:100vw;height:100vh;position:absolute;top:0;left:0}
nav > div.sidebar-nav{position:relative;width:95%;background-color:#000;color:white;height:auto;max-height:78vh;top:-90vh;z-index:5;box-shadow:0 3px 6px rgba(0,0,0,0.16),0 3px 6px rgba(0,0,0,0.23);border-bottom:0;transition:top .3s ease;padding-left:5%;overflow-y:scroll;padding-top:6vw;padding-bottom:5vw}
header .sidebar-nav ul{padding-left:3vw;margin-top:0;margin-bottom:0}
header .sidebar-nav li{list-style:none;margin:3vw 0;padding-bottom:.8vw}
.sidebar-nav a{color:white;text-decoration:none;font-size:4vw;line-height:6vw;display:block}
.pull-right svg {box-shadow: 0 7px 8px rgba(68, 65, 65, 0.1), 0 8px 8px rgba(76, 70, 70, 0.1);}
 .mobile-nav img {height:13vw;}
}
